@using ToDoApp.Data.Entities
@model ToDo

@{
    ViewData["Title"] = "Task Details";
}

<h2 class="text-info">Task Details</h2>

<div class="alert alert-info">
    <h4 class="alert-heading">Task Information</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
           <label asp-for="Title"></label>
        </dt>
        <dd class="col-sm-9">
            <span>@Model.Title</span>
        </dd>
        <dt class="col-sm-3">
            <label asp-for="Description"></label>
        </dt>
        <dd class="col-sm-9">
            <span>@Model.Description</span>
        </dd>
        <dt class="col-sm-3">
            <label asp-for="CreatedDate"></label>
        </dt>
        <dd class="col-sm-9">
            <span>@Model.CreatedDate</span>
        </dd>
        <dt class="col-sm-3">
            <label asp-for="IsCompleted"></label>
        </dt>
        <dd class="col-sm-9">
            <span>@Model.IsCompleted</span>
        </dd>
    </dl>
</div>

<div class="d-flex justify-content-between mt-4">
    <a asp-action="Index" class="btn btn-info btn-lg">Back to List</a>
    <a asp-action="UpdateToDo" asp-route-id="@Model.Id" class="btn btn-primary btn-lg">Edit</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}